
<table class="table table-striped table-bordered">
  <tr>
    
    <td width="400px">Target Color</td>
    <td>{{result.target_color}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Best Color So Far</td>
    <td>{{result.best_so_far}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Minimum Difference So Far </td>
    <td>{{result.best_diff}}
    
    </td>
   
  </tr>
  

  <tr>
    
    <td>Total Plates</td>
    <td>{{result.plate_N}}
    
    </td>
   
  </tr>

  <tr>
    
    <td>Total Iterations</td>
    <td>{{result.total_iterations}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Population Size</td>
    <td>{{result.pop_size}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Well Budget</td>
    <td>{{result.exp_budget}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Mixed Colors</td>
    <td>{%for color in result.colors%}
       {{color}} C{{forloop.counter}}<br>
      {% endfor %}
      <br> <img src={{colors}} width = 40%>[C1 C2 C3]</td></tr>
    
    </td>
   
  </tr>
</tbody>
</table>

