<table class="table table-striped table-bordered">
  <tr>
    
    <td>Target Color</td>
    <td>{{result.target_color}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Best Color So Far</td>
    <td>{{result.best_so_far}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Minimum Difference So Far </td>
    <td>{{result.best_diff}}
    
    </td>
   
  </tr>
  

  <tr>
    
    <td>Total Plates</td>
    <td>{{result.plate_N}}
    
    </td>
   
  </tr>

  <tr>
    
    <td>Total Iterations</td>
    <td>{{result.total_iterations}}
    
    </td>
   
  </tr>
  <tr>
    
    <td>Well Budget</td>
    <td>{{result.exp_budget}}
    
    </td>
   
  </tr>
  
  <tr>

    <td>Runs</td>
   <td> 
    {% block detail_general_metadata %}
    {%load index%}
  {%for run in result.runs%}
 
    <table class="table table-striped table-bordered">
      <tbody>
  
        {% if forloop.counter0 <  real_plates|length %}
   
      <tr><td style="width=400px">Measured Plate</td><td><img src=  {{real_plates | index:forloop.counter0}} width = 50%></td></tr>
       {% endif %}
    
       {% if forloop.counter0 <  exp_plates|length %}
   
       <tr><td>Expected Plate</td><td><img src=  {{exp_plates | index:forloop.counter0}} width = 50%></td></tr>
        {% endif %}
  {%for runkey, runvalue in run.items %}
  <tr>  
    <td>{{runkey}}  </td>
    <td> {{runvalue}} 
    </td> 
    
    </tr>
      {% endfor %}
    
     
    </tbody>
    </table>

 

   
      {% endfor %}
 </td>
</tr>


    
  
  </tbody>
</table>
<table class="table table-striped table-bordered">
  Workflow Steps
  <tbody>
     
    {% for flows in result.wf_steps %}
          {% for step in flows%}  
          <tr><td>{{step.name}}</td>
  <td>
            {% for tkey, tvalue in step.items %}
  
  {% if tkey != "name"%}
    <b>{{tkey |safe}}</b>: {{tvalue}} <br></br>
    {% endif %}
    {% endfor %}
  </td>
  </tr>
    {% endfor %}
  {% endfor %}
 
</tbody>
</table>
  {% endblock %}
  
 
