{% extends 'globus-portal-framework/v2/detail-overview.html' %}

{% block detail_search_content %}
<div class="row">
  <div class="col-md-6" style="text-align:center"><h1>Target Color</h1> <img src={{target_color}} width="20%" height="60%"></div>
  <div class="col-md-6" style="text-align:center"><h1>Best Color So Far</h1> <img src={{best_color}} width="20%" height="60%"></div>
</div>

<div class="row">
  <div class="col-md-6" style="margin-bottom:20px; text-align:center"><h2>Total Time: {{result.total_time}}</h2></div>
  <div class="col-md-6" style="margin-bottom:20px; text-align:center"><h2>Time To Best: {{result.time_to_best}}</h2></div>
  
</div>
<div class="row" style="padding-left:30%; margin-bottom:20px">
  <img src={{convergence_graph}} width="60%" height="60%">
 </div>
<div class="row">
  <div class="col-md-6">
    {% include './components/detail-dc-metadata2.html' %}
  </div>
{% if exp_type == "tests" or exp_type == "color_picker" %}   
    <div class="col-md-6">
  {% for key, value in final_plates.items%}
 
    
   <div style="padding-bottom:20px"> 
    <h1>{{key}}</h1>
    <img src={{value}} width="50%" >
  </div>
{% endfor %}
{% elif exp_type == "pcr" %}
<div class="col-md-6">
  
   <div style="padding-bottom:20px"> 
    <img src={{final_img}} width="50%" >
  </div>
{% endif %}
</div>

{% endblock %}