{% extends 'globus-portal-framework/v2/detail-overview.html' %}

{% block detail_search_content %}

<h3 class="text-center mb-5">General Info</h3>

<div class="row">
  <div class="col-md-6">
    {% include './components/detail-dc-metadata2.html' %}
  </div>
{% if exp_type == Null or exp_type == "color_picker"%}   
    <div class="col-md-6">
  {% for key, value in final_plates.items%}
 
    
   <div style="padding-bottom:20px"> 
    <h1>{{key}}</h1>
    <img src={{value}} width="50%" >
  </div>
{% endfor %}
{% elif exp_type == "pcr" %}
<div class="col-md-6">
  
   <div style="padding-bottom:20px"> 
    <img src={{final_img}} width="50%" >
  </div>
{% endif %}
</div>

{% endblock %}